﻿@model Cart

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Cart";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Cart</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="UserId"></label>
            <input asp-for="UserId" class="form-control"/>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductId"></label>
            <input asp-for="ProductId" class="form-control"/>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Qty"></label>
            <input asp-for="Qty" class="form-control"/>
            <span asp-validation-for="Qty" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Cart" asp-action="IndexAdmin" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
