﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Cart>


<div>
    <h1 class="display-4">Admin Page - Cart Page</h1>
    <p>Cart CRUD and Details carts</p>

    <partial name="_Notification"/>

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Cart List</h2>
        </div>
    </div>
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Qty</th>
          <th scope="col">Created_at</th>
          <th scope="col">Edit Qty</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.Product.Name</td>
              <td>@obj.Qty</td>
              <td>@obj.CreatedDate</td>
              <td>
                <form method="post" asp-action="Update">
                    <div class="w-j6 btn-group" role="group">
                        <input type="hidden" name="id" value="@obj.Id"/>
                        <input type="number" name="Qty" min="1"/>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
              </td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Cart" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    </div>
</div>