﻿@model IEnumerable<Cart>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Cart";
}

<div>
    <h1 class="display-4">Admin Page - Cart Page</h1>
    <p>Cart CRUD and Details carts</p>

    <partial name="_Notification"/>

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Cart List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Cart" asp-action="CreateAdmin" class="btn btn-primary">
                Add New Cart
            </a>
        </div>
    </div>
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Qty</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.Product.Name</td>
              <td>@obj.AppUser.UserName</td>
              <td>@obj.Qty</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Cart" asp-action="DeleteAdmin" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    </div>
</div>
