﻿@model IEnumerable<Comment>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Comment";
}

<div>
    <h1 class="display-4">Admin Page - Comment Page</h1>
    <p>Comment CRUD</p>

    <partial name="_Notification"/>

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Comment List</h2>
        </div>
    </div>
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
            Name
          </th>
          <th>
            Message
          </th>
          <th>
            Created_At
          </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.AppUser.UserName</td>
              <td>@obj.Message</td>
              <td>@obj.CreatedDate</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a onclick="return confirm('Are your sure?')" asp-controller="Comment" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    <br />
    </div>
</div>
