﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Comment>


<div>
    <h1 class="display-4">Admin Page - Comment Page</h1>
    <p>Comment CRUD and Details comment</p>

    <partial name="_Notification"/>

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Comment List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Comment" asp-action="Create" class="btn btn-primary">
                Add New Comment
            </a>
        </div>
    </div>
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User Name</th>
          <th scope="col">Message</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.UserId</td>
              <td>@obj.Message</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Cart" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-warning mx-2">Update</a>
                    </div>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Cart" asp-action="DeleteAdmin" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    </div>
</div>