﻿@model IEnumerable<AppUser>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - User";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">User List</h2>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th></th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-userId="@item.Id">
                                <a asp-action="Edit" asp-route-userId="@item.Id" class="btn btn-info text-white">
                                    Edit
                                </a>

                                <a asp-action="ManageClaims" asp-route-userId="@item.Id" class="btn btn-primary text-white">Claims</a>

                                <button type="submit" onclick="return confirm('Are you sure you want to delete this?')"
                                        class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>