﻿@model IEnumerable<Category>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - Category";
}

<div>
    <h1 class="display-4">Admin Page - Category Page</h1>
    <p>Category CRUD and Details product each category</p>

    <partial name="_Notification"/>

    <div class="row pt-4 mb-3">
        <div class="col-6">
            <h2 class="text-dark">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Add New Category
            </a>
        </div>
    </div>
    <div style="margin-top:20px;">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
            Name
          </th>
          <th>
            Created_At
          </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var obj in Model)
        {
          <tr>
              <th scope="row">@obj.Id</th>
              <td>@obj.Name</td>
              <td>@obj.CreatedAt</td>
                <td>
                    <div class="w-j6 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Update</a>
                    </div>
                    <div class="w-j6 btn-group" role="group">
                        <a onclick="return confirm('Are your sure?')" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
                    </div>
                </td>
          </tr>           
        }
      </tbody>
    </table>
    <br />
    </div>
</div>
