﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Category>

<div class="text-center">
    <h1 class="display-4">Please Choose Category</h1>
    <p>Pilih kategori barang yang ingin dicari</p>

    <div class="row">
    @foreach(var obj in Model)
    {
        <div class="col-sm-6">
          <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">@obj.Name</h5>
                <a asp-controller="Home" asp-action="ProductByCategory" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Go Product</a>
              </div>
          </div>
        </div>
    }
    </div>

</div>

@if(User.Identity.IsAuthenticated)
{
    @if(User.IsInRole("Pokemon"))
    {
        <h2>Your role is pokemon</h2>
    }
    else
    {
        <h2>Your role is trainer</h2>
    }
}