﻿@model PaginatedList<IdentityAppOnBoarding.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col-sm-2">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back
            </a>
        </div>
        <div class="col-sm-10">
            <h1>Category Name Product</h1>
        </div>
    </div>
    <div class="row justify-content-center">
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")  
            <input type="submit" value="Search" /></p>
    }
    </div>
    <div class="row" style="margin-top:20px">
        @foreach(var obj in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">@obj.Name</h5>
                    <h5 class="card-title">@obj.Desc</h5>
                    <h5 class="card-title">@obj.Stock</h5>
                    <h5 class="card-title">@obj.Price</h5>
                    <form asp-action="Create" asp-controller="Cart" asp-route-id="@obj.Id" method="post">
                        <button type="submit" class="btn btn-primary" style="width:150px">Add to Cart</button>
                    </form>
                    </div>
                </div>
            </div>
        }
    </div>

    @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="ProductByCategory"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @prevDisabled" style="margin-top:20px;">
        Previous
    </a>
    <a asp-action="ProductByCategory"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @nextDisabled" style="margin-top:20px;">
        Next
    </a>

</div>
