﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page - User";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Roles List </h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Upsert" asp-controller="Role" class="btn btn-primary">Create New Role</a>
    </div>
</div>
<div class="p-4 border rounded">
    @if (Model.Any())
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-id="@item.Id">
                                <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                    Edit
                                </a>

                                <button type="submit"
                                        class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>