﻿@using IdentityAppOnBoarding.ViewModel
@model ExternalLoginViewModel

<h1>Register</h1>
<h3>Associate your @ViewData["ProviderDisplay"] account.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" method="post" role="form" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <h4>Association Form</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>
        You've successfully authenticated with <strong>@ViewData["ProviderDisplayName"]</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success form-control">Log In</button>
        </div>
    </div>
</form>

@section Scripts{ 
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}