﻿@using IdentityAppOnBoarding.ViewModel
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<AppUser> signInManager

<h1 class="text-info">Log in</h1>
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="Login" method="post" role="form">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-10">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success form-control">Log in</button>
                </div>
            </div>
            <p>
                <a asp-action="Register"> Register as a new user?</a>
            </p>
            <p>
                <a asp-action="ForgotPassword"> Forgot your passowrd?</a>
            </p>
        </form>
        @{ 
            var schemes = await signInManager.GetExternalAuthenticationSchemesAsync();
            var loginProivders = schemes.ToList();
        }
        @if (loginProivders.Count() > 0)
        {
        <div class="col-md-4">
            <section>
                <h4>User another service to log in.</h4>
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
                    <div>
                        <p>
                            @foreach(var provider in loginProivders)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" 
                                        title="Log in using your @provider.Name account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            </section>
        </div>
        }
    </div>
</div>