﻿@using IdentityAppOnBoarding.ViewModel
@model RegisterViewModel

<h1 class="text-info">Register</h1>
<form asp-controller="Account" asp-action="Register" method="post" role="form">
    <h4>Create a new account</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
        <div class="form-group">
        <label asp-for="UserName" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="RoleSelected" class="col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="RoleSelected" asp-items="@Model.RoleList" class="form-control">
                <option disabled selected>--Select Role--</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </div>
</form>