﻿@using IdentityAppOnBoarding.ViewModel
@model ResetPasswordViewModel

<form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
      <div asp-validation-summary="All" class="text-danger" />
      <input asp-for="Code" hidden />
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success form-control">Submit</button>
                </div>
            </div>
</form>